#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: var(--m-md);
}

.logo-container h1 {
    font-size: var(--fsh-sm);
    font-family: var(--sans-serif);
    font-weight: var(--fw-bold);
}

.logo-container span {
    font-size: 4rem;
    line-height: 0;
    margin-left: -0.5rem;
    margin-right: 2rem;
    color: rgb(var(--color-green));
}

.nav-container {
    width: 50rem;
    padding: var(--btn-p-md);
    border-radius: var(--round);
    box-shadow: var(--shadow-01);
    background-color: white;
}

.nav-container nav {
    display: flex;
    justify-content: space-between;
}

.nav-container nav span:hover {
    opacity: 0.6;
}

.header-options {
    display: flex;
    align-items: center;
    gap: var(--gap-md);
}

.header-options ion-icon[name="moon-outline"] {
    font-size: 2.5rem;
    --ionicon-stroke-width: 2rem;
}